{{define "sample_queries"}}
<div class="sample-queries">
    <h2>Sample Queries</h2>
    {{range .}}
	<div class="query"><a href="/search?query={{.Query}}">{{.HumanValue}}</a></div>
    {{end}}
</div>
{{end}}

{{define "js"}}
{{template "searchbox_head"}}
{{end}}

{{define "css"}}
<style>
 .sample-queries {
     width: 520px;
     margin: 0 auto;
     text-align: left;
     padding: 40px 0;
 }
</style>
{{end}}

{{define "content"}}
<div>
    {{template "searchbox"}}
    {{template "sample_queries" .SampleQueries}}
</div>
{{end}}
