<!doctype html>
<html>
    <head>
	<title>Setlist Searcher</title>
    </head>
    <body>
	<div>
	    <h1>Search Phish Setlists:</h1>
	</div>
	<div>
	    {{template "searchbox"}}
	    {{template "sample_queries" .SampleQueries}}
	</div>
    </body>
</html>
