{{define "searchbox"}}
<form action="/search" method="get">
    <label for="GET-name">Query:</label>
    <input id="GET-name" type="text" name="query"
	   {{if .}} value="{{.}}" {{end}}>
    <input type="submit" value="Search">
</form>
{{end}}
